{% extends 'base.html' %}

{% block content %}
{#     <div class="article_list">#}
{#        {% for article in article_list %}#}
{#            <div class="article-item clearfix">#}
{#                <h5><a href="">{{ article.title }}</a></h5>#}
{#                <div class="article-desc">#}
{#                    {{ article.desc }}#}
{#                </div>#}
{#                <div class="small pub_info pull-right">#}
{#                    <span>发布于 &nbsp;&nbsp;{{ article.create_time|date:'Y-m-d H:i' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                    <span class="glyphicon glyphicon-comment"></span>评论({{ article.comment_count }})&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                     <span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ article.up_count }})#}
{#                </div>#}
{#            </div>#}
{#            <hr>#}
{#        {% endfor %}#}
{#    </div>#}
{##}
{#    {% load my_tags %}#}
{#    {% mulit_tag 3 9 %}#}
    {% csrf_token %}
    <div class="article_info">
        <h3 class="text-center">{{ article_obj.title }}</h3>
        <div class="cont">
            {{ article_obj.content|safe }}
        </div>
        <div class="clearfix">
            <div id="div_digg">
                <div class="diggit action">
                    <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
                </div>
                <div class="buryit action">
                    <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
                </div>
                <div class="clear"></div>
                <div class="diggword" id="digg_tips" style="color:red;"></div>
            </div>
        </div>
        <div class="comments">
            <p>评论列表</p>
            <ul class="list-group comment_list">
                {% for comment in comment_list %}
                    <li class="list-group-item">
                    <div>
                        <a href="">#{{ forloop.counter }}楼</a>&nbsp;&nbsp;
                        <span>{{ comment.create_time|date:'Y-m-d H:i' }}</span>
                        <a href="#"><span>{{ comment.user.username }}</span></a>
                        <a href="#" class="pull-right reply_btn" username="{{ comment.user.username }}">回复</a>
                    </div>
                    <div class="comment_con">
                        <p>{{ comment.content }}</p>
                    </div>
                    </li>
                {% endfor %}
            </ul>
            <p>发表评论</p>
            <p>昵称:
                <input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50" value="{{ request.user.username }}">
            </p>
            <p>评论内容：</p>
            <textarea name="" id="comment_content" cols="60" rows="10"></textarea>
            <p>
                <button class="btn btn-default comment_btn">提交评论</button>
            </p>
        </div>
        <script>
            // 点赞 请求
            $('#div_digg .action').click(function(){
                var is_up = $(this).hasClass('diggit');

                $obj = $(this).children('span');

                $.ajax({
                    url:'/digg/',
                    type:'post',
                    data:{
                        'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val(),
                        'is_up':is_up,
                        'article_id':{{ article_obj.pk }},
                    },
                    success:function(data){
                        console.log(data)
                        if(data.state){
                            var val = parseInt($obj.text());
                            $obj.text(val+1);

                        }else{
                            var val = data.handled?'您已经推荐过':'您已经反对过';
                            $('#digg_tips').html(val)

                            setTimeout(function(){
                                 $('#digg_tips').html('')
                            },1000)

                        }
                    }
                })
            })

            // 评论请求
            $('.comment_btn').click(function(){
                // 父评论id
                var pid = "";
                var content = $('#comment_content').val();
                $.ajax({
                    url:'/comment/',
                    type:'post',
                    data:{
                        'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val(),
                        'article_id':'{{ article_obj.pk }}',
                        'content':content,
                        'pid':pid
                    },
                    success:function(data){
                        console.log(data)
                        var create_time = data.create_time;
                        var username = data.username;
                        var content = data.content;

                        var s = `
                            <li class="list-group-item">
                                <div>
                                    {#<a href="">#{{ forloop.counter }}楼</a>&nbsp;&nbsp;#}
                                    <span>${create_time}</span>
                                    <a href="#"><span>${username}</span></a>
                                </div>
                                <div class="comment_con">
                                    <p>${content}</p>
                                </div>
                            </li>
                        `;
                        $('ul.comment_list').append(s);

                        // 清空评论框
                        $('#comment_content').val('');
                    }
                })
            });

            // 回复
            $('.reply_btn').click(function(){

                $('#comment_content').focus();
                var val = '@'+$(this).attr('username')+'\n';
                $('#comment_content').val(val)
            })
        </script>
    </div>
{% endblock %}