{% extends 'base.html' %}

{% block content %}
{#     <div class="article_list">#}
{#        {% for article in article_list %}#}
{#            <div class="article-item clearfix">#}
{#                <h5><a href="">{{ article.title }}</a></h5>#}
{#                <div class="article-desc">#}
{#                    {{ article.desc }}#}
{#                </div>#}
{#                <div class="small pub_info pull-right">#}
{#                    <span>发布于 &nbsp;&nbsp;{{ article.create_time|date:'Y-m-d H:i' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                    <span class="glyphicon glyphicon-comment"></span>评论({{ article.comment_count }})&nbsp;&nbsp;&nbsp;&nbsp;#}
{#                     <span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ article.up_count }})#}
{#                </div>#}
{#            </div>#}
{#            <hr>#}
{#        {% endfor %}#}
{#    </div>#}
{##}
{#    {% load my_tags %}#}
{#    {% mulit_tag 3 9 %}#}
    {% csrf_token %}
    <div class="article_info">
        <h3 class="text-center">{{ article_obj.title }}</h3>
        <div class="cont">
            {{ article_obj.content|safe }}
        </div>
        <div id="div_digg">
            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color:red;"></div>
        </div>
        <script>
            $('#div_digg .action').click(function(){
                var is_up = $(this).hasClass('diggit');
                alert(is_up)

                $.ajax({
                    url:'/digg/',
                    type:'post',
                    data:{
                        'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val(),
                        'is_up':is_up,
                        'article_id':{{ article_obj.pk }},
                    },
                    success:function(data){
                        console.log(data)
                        if(data.state){
                            if(is_up){
                                var val = parseInt($('#digg_count').text());
                                $('#digg_count').text(val+1);
                            }else{
                                var val = parseInt($('#bury_count').text());
                                $('#bury_count').text(val+1);

                            }
                        }else{
                            if(data.handled){
                                 $('#digg_tips').html('您已经推荐过')
                            }else{
                                $('#digg_tips').html('您已经反对过')
                            }
                            setTimeout(function(){
                                 $('#digg_tips').html('')
                            },1000)

                        }
                    }
                })
            })
        </script>
    </div>
{% endblock %}