<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.min.css">
</head>
<body>
<h3>注册</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <form>
                {% csrf_token %}

                {% for field in form  %}
                     <div class="form-group">
                        <label for="">{{ field.label }}</label>
                        {{ field }}
                    </div>

                {% endfor %}
                    <div class="form-group">
                        <label for="avatar">头像</label>
                        <input type="file">
                    </div>
                <input type="button" class="btn btn-default login_btn" value="submit"> <span class="error"></span>
                <a href="/register/" class="btn btn-success pull-right">注册</a>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script>
    $('#valid_code_img').click(function(){
        // 刷新验证码
        $(this)[0].src+="?";
    })

    // 登录验证
    $(".login_btn").click(function () {


        $.ajax({
            url: "",
            type: "post",
            data: {
                user: $("#user").val(),
                pwd: $("#pwd").val(),
                valid_code: $("#valid_code").val(),
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (data) {
                console.log(data);

                if (data.user) {
                    if (location.search){
                        location.href = location.search.slice(6)
                    }
                    else {
                         location.href = "/index/"
                    }

                }
                else {
                    $(".error").text(data.msg).css({"color": "red", "margin-left": "10px"});
                    setTimeout(function(){
                         $(".error").text("");
                    },1000)

                }
            }
        })

    })

</script>
</body>

</html>