<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.min.css">
    <style>
        #avatar_img{
            margin-left: 20px;
        }
        #avatar{display: none;}
        .error{color:red;}
    </style>
</head>
<body>
<h3>注册</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <form id="form">
                {% csrf_token %}

                {% for field in form  %}
                     <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }} <span class="error pull-right"></span>
                    </div>

                {% endfor %}
                    <div class="form-group">
                        <label for="avatar">
                            头像
                            <img id="avatar_img" src="/static/blog/img/default.png" width="60" height="60" alt="">
                        </label>
                        <input type="file" id="avatar">
                    </div>
                <input type="button" class="btn btn-default reg_btn" value="submit"> <span class="error"></span>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script>
    $('#avatar').change(function(){
        //获取文件对象
        var file_obj = $(this)[0].files[0];
        //获取文件对象路径
        var reader = new FileReader();
        reader.readAsDataURL(file_obj);
        /*
        reader.readAsArrayBuffer()
        reader.readAsBinaryString() 文件的二进制数据
        reader.readAsDataURL() 文件的url
        reader.readText() 文件的文本
        */
        //读文件是异步的过程  所以直接设置值会不显示
        //$('#avatar_img').attr('src',reader.result)

        reader.onload=function(){
            $('#avatar_img').attr('src',reader.result)
        }
    })
    //注册提交事件

    $('.reg_btn').click(function () {
        //文件上传要使用 FormData对象
        /*
        var formdata = new FormData();
        formdata.append('user',$('#id_user').val());
        formdata.append('pwd',$('#id_pwd').val());
        formdata.append('re_pwd',$('#id_re_pwd').val());
        formdata.append('email',$('#id_email').val());
        formdata.append('avatar',$('#avatar')[0].files[0]);
        formdata.append('csrfmiddlewaretoken',$('[name=csrfmiddlewaretoken]').val())
        */
        //表单提交的优化
        var formdata = new FormData();
        var request_data = $('#form').serializeArray()
        $.each(request_data,function(index,data){
             formdata.append(data['name'],data['value'])
        })
        $.ajax({
            url:'',
            type:'post',
            contentType:false,
            processData:false,
            data:formdata,
            success:function(data){
                if(data.user){
                    //注册成功
                }else{
                    //清空错误信息
                    $('span.error').html('')
                    $('.form-group').removeClass('has-error');
                    $.each(data.msg,function(field,error_list){
                        console.log(field,error_list)
                        if(field=='__all__'){
                            //全局错误信息
                            $('#id_re_pwd').next().html(error_list[0])
                            $('#id_re_pwd').parent().addClass('has-error');
                        }

                        $('#id_'+field).next().html(error_list[0])
                        $('#id_'+field).parent().addClass('has-error');
                    })
                }
            }
        })
    })

</script>
</body>

</html>